<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<databaseSettings>
		<add key="host" value="dbpucp.ct6ff5ea4m0u.us-east-1.rds.amazonaws.com"/>
		<add key="port" value="3306"/>
		<add key="database" value="p3_parcial"/>
		<add key="user" value="admin"/>
		<add key="password" value="SXZhbm5hZmF0aW1hOTc4"/>
		<add key="minPoolSize" value="5"/>
		<add key="maxPoolSize" value="50"/>
		<add key="connectionTimeout" value="30"/>
	</databaseSettings>
</configuration>